<% if spree_navigation_data.any? %>
  <ul class="nav h-100 main-nav-bar">
    
      <li class="navbar main-nav-bar-dropdown main-nav-bar-category">
        <h5>Libros</h5>
      </li>
      
      <li class="navbar main-nav-bar-dropdown main-nav-bar-category">
        <h5>Catalogo</h5>
      </li>
    
      <li class="navbar main-nav-bar-dropdown main-nav-bar-category">
        <h5>Promociones</h5> 
      </li>
  </ul>
<% end %>
